#saved{
  
  background-color: whitesmoke;
  border: 0px white;
  border-radius: 6px;
  width: 80%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

#head{
  text-align: center;
}

#element{
  display: flex;
  align-items: center ;
}